* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
  }

body {
    background-color: white;
    color: #495867;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(#82b9f0, #495867);
    width: 100%;
}

header h1 {
    font-size: 275%;
    font-family: sans-serif;
    font-style: italic;
    background: linear-gradient(#82b9f0, #495867);
    color: white;
    border-right: 3px solid #8aea92;
    padding: 2%;
    padding-left: 5%;
    padding-right: 4%; 
    border-radius: 0 4% 0 0;
}


nav {
    margin-top: 10px;
    padding: 15px 30px 15px 15px;
}

nav a {
    text-decoration: none;
    font-size: 130%;
    color: white;
    padding: 10px 15px 10px 15px;
    border-right: 2px solid #8aea92;
    
}

nav a:hover {
    color: #8aea92;
    transition: 250ms ease;
}

h2 {
    font-size: 250%;
    padding: 8px;
    text-align: right;
}

.headshot {
    opacity: 1;
    margin: 4px;
    padding: 5px;
    border: none;
    border-radius: 20%;
    background: linear-gradient(#82b9f0, #495867);
}

.workimages {
    opacity: 0.7;
    margin: 10px;
    padding: 5px;
    border: 5px solid white;
    border-radius: 8%;
}

.workimages:hover {
    opacity: 1;
    border: 5px solid #495867;
    transition: 250ms ease;
    background-color: #8aea92;
}



/* About me formatting */

.aboutme {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}

.aboutme p {
    line-height: 1.6;
}

.sidebar-aboutme,
.sidebar-work,
.sidebar-contact {
    background: linear-gradient(#82b9f0, #495867);
    color: white;
    border: 3px solid #8aea92;
    font-style: italic;
    margin-right: 2%;
    border-radius: 0 8% 8% 0;
}

.sidebar-aboutme, .content-aboutme {
    padding: 20px 25px 20px 10px;
    margin-top: 4%;
}

.aboutme > .sidebar-aboutme {
    flex: 1 1 40%;
    max-width: 300px;
}

.aboutme > .content-aboutme {
    flex: 1 1 60%;
    min-width: 50ch;
}

/* Work section formatting */

.work {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5%;
}

.sidebar-work, .content-work {
    padding: 20px 25px 20px 10px;
}

.work > .sidebar-work {
    flex: 1 1 40%;
    max-width: 300px;
}

.work > .content-work {
    flex: 1 1 60%;
    min-width: 50ch;
}

/* Contact info formattiing */

.contactinfo {
    display: flex;
    align-items: flex-end;
}

.sidebar-contact, .content-contact {
    padding: 20px 25px 20px 10px;
}

.contactinfo > .sidebar-contact {
    flex: 1 1 40%;
    max-width: 300px;
}

.contactinfo > .content-contact {
    flex: 1 1 60%;
    min-width: 50ch;
}

.content-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 12px;
}



.content-contact a {
    text-decoration: none;
    background: linear-gradient(#82b9f0, #495867);
    color: white;
    padding: 12px;
    border: 1px solid #8aea92;
    border-radius: 8%;
}

.content-contact a:hover {
    color: #8aea92;
    transition: 250ms ease;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    background: linear-gradient(#82b9f0, #495867);
    color: white;
    margin-top: 50px;
}

@media screen and (max-width: 1015px) {
    .headshot {
        display: flex;
        width: 175px;
    }
}

@media screen and (max-width: 970px) {
    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        border-right: 3px solid #8aea92;
    }

    nav a {
        border-top: 2px solid #8aea92;
        border-left: 2px solid #8aea92;
        border-right: 2px solid #8aea92;
    }

    .content-contact a {
        margin: 5px 0 5px 0;
    }

    img {
        max-width: 500px;
    }
}

@media screen and (max-width: 545px) {
    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact,
    .content-work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        border-right: 3px solid #8aea92;
        border-left: 3px solid #8aea92;
    }

    nav a {
        border-top: 2px solid #8aea92;
        border-left: 2px solid #8aea92;
        border-right: 2px solid #8aea92;
    }

    .content-contact a {
        margin: 5px 0 5px 0;
    }

    img {
        max-width: 450px;
    }
}

@media screen and (max-width: 500px) {
    header,
    .aboutme,
    .work,
    .contactinfo,
    .content-contact,
    .content-work {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .aboutme p {
        padding: 3px;
    }

    header h1 {
        border-right: 3px solid #8aea92;
        border-left: 3px solid #8aea92;
    }

    nav a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-top: 0px solid #8aea92;
        border-left: 0px solid #8aea92;
        border-right: 0px solid #8aea92;
    }

    .content-contact a {
        margin: 5px 0 5px 0;
    }

    img {
        max-width: 200px;

    }
}
 @media screen and (max-width: 460px) {

 }



