* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
  }

body {
    background-color: #fefdff;
    color: #ff6663;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #c1bfb5;
    width: 100%;
    padding: 20px 0px 20px 20px;
}

header h1 {
    font-size: 250%;
    font-family: sans-serif;
    color: white;
    padding: 1%;   
}

nav {
    margin-top: 10px;
    padding: 15px 30px 15px 15px;
}

nav a {
    text-decoration: none;
    font-size: 130%;
    color: white;
    padding: 15px;
}

nav a:hover {

}

h2 {
    font-size: 275%;
    /* border: 2px solid #ff6663; */
    padding: 8px;
    text-align: right;
}

/* About me formatting */

.sidebar-aboutme, .content-aboutme {
    padding: 15px 10px 15px 10px;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aboutme > .sidebar-aboutme {
    flex: 1 1 40%;
    max-width: 300px;
}

.aboutme > .content-aboutme {
    flex: 1 1 60%;
    min-width: 50ch;
}

/* Work section formatting */

.sidebar-work, .content-work {
    padding: 15px 10px 15px 10px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.work > .sidebar-work {
    flex: 1 1 40%;
    max-width: 300px;
}

.work > .content-work {
    flex: 1 1 60%;
    min-width: 50ch;
}